set_smarthome_mode:
  description: Set system into a given smarthome mode.
  fields:
    system: {description: System identifcation to send command to., example: "12345"}
    mode: {description: "Mode to select. Can be DEFAULT_OPERATION, AWAY_FROM_HOME or VACATION", example: "DEFAULT_OPERATION"}
set_parameter:
  description: Set a nibe uplink parameter.
  fields:
    system: {description: System identifcation to send command to., example: "12345"}
    parameter: {description: "Parameter to set.", example: "hot_water_boost"}
    value: {description: "Value to set", example: "1"}
get_parameter:
  description: Get a nibe uplink parameter and display a notification.
  fields:
    system: {description: System identifcation to send command to., example: "12345"}
    parameter: {description: "Parameter to get.", example: "hot_water_boost"}
set_thermostat:
  description: Set a nibe uplink smart home thermostat, must be called once every 30 minutes.
  fields:
    system: {description: System identifcation to send command to., example: "12345"}
    id: {description: "Identifier for this thermostat should be unique for the system (1,2,3...).", example: "1"}
    name: {description: "Name displayed for thermostat in uplink", example: "Kitchen Thermostat"}
    systems:
      description: "List of climate systems affected by this thermostat.
                    These will match up to the S1, S2 climate's the component generate"
      example: "[1]"
    temperature: {description: "Optional measured temperature in celcius, can be left out", example: "29.0"}
    target_temperature: {description: "Optional target temperature in celcius, can be left out", example: "29.0"}
    valve_position: {description: "Optional valve position in percents", example: "50"}
